/*GLOBALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.hidden {
    display: none;
}

.main {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #033250;
}

.main h1 {
    font-size: 1rem;
    padding-top: 1rem;
    color:darkorange;
}

.titulo {
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 90%;
    height: 90vh;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
}

/*---- CONTENEDOR OPCIONES -----*/
.aside {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:1.5rem;
}

/*OPCIONES*/
.opcionesJuego {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.aboutMeContainer {
    display: flex;
}

.aboutMeContainer a {
    display: inline;
    margin: auto;
}

.cantidadPreguntasContainer {
    width: 100%;
}

.cantidadPreguntasContainer p {
    font-style: italic;
    font-size: 10px;
    color: red;
}

.tipoRespuestas {
    width: 100%;
}

/*GAME*/
.game {
    width: 64%;
    background-color: white;
}

/*JUGADOR*/
.vidaScore {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.scoreContainer {
    width: 30%;
}

.score {
    font-size: 1.5rem; 
}

.progreseContainer {
    width: 30%;
}

.titleWidth {
    width: 30%;
}

.tableroJuego {
    width: 100%;
    height: 70%;
    margin: auto;
    display: flex;
}

/*Clase utilizada cuando se crea contenedor con JS*/
.centrarPreguntas {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centrarRespuestas {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.pregunta {
    width: 100%;
    height: 100%;
}

.botonesResuestas {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 40%;
}

/* GAME OVER */
.centrarGameOver {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOver {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.gameOver p {
    font-size: 5rem;
}
/* PREGUNTAS*/
.contenedorOpciones{
    width: 60rem;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}

.botonRespuesta {
    width: 25rem;
    height: 8rem;
    margin-top: 3rem;
}

@media(max-width: 1024px){
    .contenedorOpciones{
        width: 100%;
        height: 30rem;
        flex-direction: column;
        flex-wrap: inherit; 
    }
}

@media(max-width: 768px){
    .vidaScore {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .lifeContainer p {
        display: none;
    }

    .progressContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .progreseContainer progress {
        width: 100%;
    }

    .gameOver {
        width: 70%;
    }
} 

@media(max-width: 425px) {
    .main {
        height: 100vh;
        position: absolute;
    }

    .main h1 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color:darkorange;
    }

    .container {
        width: 98%;
        padding: 0;
    }

    .aside {
        width: 95%;
        height: 100%;
        margin: 3rem auto;
        display: flex;
        font-size:1.5rem;
    }

    .game {
        width: 100%;
        margin: auto;
    }

    .tableroJuego {
        width: 100%;
    }

    .progressContainer {
        width: 30%;
    }

    .progressContainer p {
        display: none;
    }
    .centrarPreguntas {
        width: 100%;
    }

    .centrarPreguntas p {
        width: 100%;
        font-size: 1.2rem;
    }

    .botonRespuesta {
        font-size: 1.2rem;
    }

    /* GAME OVER */
    .gameOver {
        width: 90%;
        height: 40%;
    }
}