
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #033250;
}

.main h1 {
    padding-top: 2rem;
    color:darkorange;
}

.titulo {
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 80%;
    height: 80vh;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

/*---- CONTENEDOR OPCIONES -----*/
.aside {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*OPCIONES*/
.opcionesJuego {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

/*JUGADOR*/
.jugador {
    height: 40%;
    background-color: white;
}

.vidaScore {
    display: flex;
    justify-content: space-between;
}

.scoreContainer {
    width: 50%;
    margin-top: 1rem;
}

.score {
    font-size: 1.5rem; 
}

.game {
    width: 60%;
    background-color: white;
}

.titleWidth {
    width: 30%;
}



/* BOTONES PARA TEST */
.botones {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}